.page-template-homepage{
  
  .hero-ss{
    background-color: $primary-color;
    padding: 0 0 110px;
    .wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .left-hero{
      max-width: 645px;
      padding-top: 65px;
      h1{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 96px;
        line-height: 100%;
        color: #FFFFFF;
        span{
          font-size: 180px;
          line-height: 80%;
          font-family: $font-primary;
          &.lesser{
            margin-left: 32px;
            position: relative;
            &:after{
              content: "";
              width: 160px;
              height: 260px;
              background-image: url(../images/icon/le-icon.svg);
              background-position: center;
              background-size: contain;
              position: absolute;
              right: -160px;
              bottom: 39px;
            }
          }
          &.evil{
            margin-left: 65px;
          }
          &.choice{
            font-size: 96px;
            line-height: 100%;
            position: relative;
            top: -56px;
          }
        }
      }
      p{
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        color: #FFFFFF;
        margin: 12px 0 48px;
      }
      .btn-cm{
        min-width: 250px;
        background: #FFF21F;
        border-color: #FFF21F;
        color: #000000;
        &.second{
          margin-left: 20px;
          color: #FFF21F;
          background: transparent;
        }
      }

    }

    .right-hero{
      width: calc( 100% - 645px);
      padding-left: 130px;
      padding-top: 65px;
      position: relative;
      text-align: center;
      .hero-img{
        position: absolute;
      }
      .img-1{
        position: inherit;
      }
      .img-2{
        right: -1%;
        bottom: 12%;
      }
      .img-3{
        left: 18%;
        bottom: 15%;
      }
      .img-4{
        top: 15%;
        right: 15%;
      }

      .wrap-circle{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        .cir{
          transition: .3s ease all;
          animation: 6s rainToDown infinite linear;
          opacity: 0;
        }
        .cir-1{
          width: 27px;
          animation-delay: 3s;
        }
        .cir-2{
          width: 49px;
          animation-delay: 1s;
        }
        .cir-3{
          width: 92px;
          animation-delay: 2s;
        }
        .cir-4{
          width: 48px;
          animation-delay: 4s;
        }
        .cir-5{
          width: 48px;
          animation-delay: 5s;
        }
        .cir-6{
          width: 27px;
          animation-delay: 8s;
        }
        .cir-7{
          width: 27px;
          animation-delay: 6s;
        }
        .cir-8{
          width: 27px;
          animation-delay: 7s;
        }
        .cir-9{
          width: 48px;
          animation-delay: 3s;
        }
      }

    }

  }

  .benefit-ss{
    
    background: #231F20;
    position: relative;
    .wrap{
      text-align: center;
    }

    .halo-big{
      position: absolute;
      top: -140px;
      left: 65px;
    }
    .halo-mini{
      position: absolute;
      right: 3%;
      bottom: 28%;
    }

    .wrap-can{
      .benefit-img{
        position: absolute;
        &.img-1{
          left: 7%;
          bottom: 30%;
        }
        &.img-2{
          left: 40%;
          top: 20%;
        }
        &.img-3{
          left: 65%;
          top: 20%;
        }
        &.img-4{
          top: 8%;
          right: 5%;
        }
      }
    }

    .content{
      padding: 715px 0 170px;
      overflow: hidden;
      .rotate-div{
        transform: rotate(180deg);
        
        ._des{
          font-family: $font-second;
          font-weight: 400;
          font-size: 40px;
          line-height: 52px;
          color: #FFFFFF;
          max-width: 1378px;
          width: 100%;
          min-height: 665px;
          margin: 0 auto;
          left: calc(50% - 689px);
          bottom: -180px;
          animation: rotate360deg 48s linear infinite;      }
      }
      .heading{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 96px;
        line-height: 114px;
        text-transform: uppercase;
        color: #FFF21F;
        text-align: center;
        position: relative;
        z-index: 9;
      }
      .btn-cm{
        border: none;
        background: #FFFFFF;
        padding: 26px 56px;
        color: #000000;
        margin-top: 26px;
        position: relative;
        z-index: 9;
        min-width: 300px;
      }
    }
    
  }
  .intro-ss{
    background: #FFF21F;
    position: relative;
    .wrap{
      display: flex;
      align-items: center;
    }
    .left-intro{
      position: relative;
      width: calc(100% - 850px);
      text-align: center;
      .intro-img{
        position: absolute;
        &.img-1{
          position: relative;
          max-width: 497px;
          margin: -400px auto 0;
          z-index: 1;
          img.shadow{
            position: absolute;
            z-index: -1;
            right: -80px;
            top: 50%;
            transform: translateY(-50%);
          }
          &:after{
            content: "";
            background-image: url(../images/icon/halo-p-big.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 254px;
            z-index: -1;
            position: absolute;
            top: -45px;
            right: -70%;
          }
        }
        &.img-2{
          top: 8%;
          left: -2%;
        }
        &.img-3{
          right: 0;
          bottom: -64%;
        }
        &.img-4{
          right: 15%;
          top: 40%;
        }
      }
    }
    .right-intro{
      padding: 290px 0 300px 60px;
      max-width: 910px;
      width: 100%;
      h2{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 96px;
        line-height: 100px;
        text-transform: uppercase;
        color: #231F20;
        span{
          position: relative;
          font-family: $font-primary;
          z-index: 1;
          &:after{
            content: "";
            width: 100%;
            height: 178px;
            background-image: url(../images/icon/halo-p-mini.png);
            background-repeat: no-repeat;
            z-index: -1;
            position: absolute;
            right: -76%;
            top: -50px;
          }
        }
      }
      .des-intro{
        font-family: $font-second;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        color: #231F20;
      }
    }
  }
  .flavour-ss{
    background: #ED1944;
    padding: 100px 0 90px;
    .wrap{
      text-align: center;
    }
    .heading{
      font-family: $font-primary;
      font-weight: 300;
      font-size: 96px;
      line-height: 114px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    .des{
      font-family: $font-second;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
      max-width: 1018px;
      margin: 0 auto;
    }
    .btn-cm{
      margin-top: 40px;
      border: none;
      background: #FFFFFF;
      padding: 26px 56px;
      color: #000000;
      min-width: 300px;
    }
    .wrap-fla{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
      margin-top: 80px;
      .item-fla{
        clip-path: polygon(41% 0, 88% 12%, 100% 41%, 90% 81%, 69% 90%, 50% 100%, 22% 98%, 0% 70%, 0% 35%, 16% 10%);
        background: #FFF21F;
        padding: 56px 0;
        position: relative;
        h3{
          font-family: $font-primary;
          font-weight: 300;
          font-size: 36px;
          line-height: 43px;
          text-transform: uppercase;
          color: #ED1944;
          margin: 36px auto 0;
          max-width: 207px;
        }
        .content{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #231F20;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .des{
            font-family: $font-second;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            max-width: 237px;
          }
        }
      }
    }

  }

}